.logo{
    width: 90px;
}

body{
    background-image: url("fondo/fondo.jpg");
}


.select{
    margin-top: 6%;
    margin-bottom: 6%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2%; /* Place the button at the bottom of the page */
    right: 1%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #433e3d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1.5%; /* Some padding */
    border-radius: 25%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #201e1d; /* Add a dark-grey background on hover */
  }
